# Este documento introduce los objetos de Pandas: Series y DataFrame

In [3]:
# Cargamos las principales dependencias del proyecto.
import numpy as np
import pandas as pd
import pandas.util.testing as tm

## Lectura de ficheros

In [61]:
tm.N, tm.K = 15, 3
df=tm.makeCustomDataframe(100, 10).tail()
df

C0,C_l0_g0,C_l0_g1,C_l0_g2,C_l0_g3,C_l0_g4,C_l0_g5,C_l0_g6,C_l0_g7,C_l0_g8,C_l0_g9
R0,,,,,,,,,,
R_l0_g95,R95C0,R95C1,R95C2,R95C3,R95C4,R95C5,R95C6,R95C7,R95C8,R95C9
R_l0_g96,R96C0,R96C1,R96C2,R96C3,R96C4,R96C5,R96C6,R96C7,R96C8,R96C9
R_l0_g97,R97C0,R97C1,R97C2,R97C3,R97C4,R97C5,R97C6,R97C7,R97C8,R97C9
R_l0_g98,R98C0,R98C1,R98C2,R98C3,R98C4,R98C5,R98C6,R98C7,R98C8,R98C9
R_l0_g99,R99C0,R99C1,R99C2,R99C3,R99C4,R99C5,R99C6,R99C7,R99C8,R99C9

In [52]:
import glob

In [59]:
l = [i for i in range(20) if i> 10]
l

[11, 12, 13, 14, 15, 16, 17, 18, 19]