In [1]:
import numpy as np
import pandas as pd
import requests
import qgrid
import sidetable
pd.set_option("display.max_rows", 20)
pd.set_option("display.max_columns", 500)
pd.set_option("display.width", 1000)

In [46]:
download_url = 'https://raw.githubusercontent.com/fivethirtyeight/data/master/nba-elo/nbaallelo.csv'
target_csv_path = '00 - datasets/nba_all_elo.csv'

response = requests.get(download_url)
response.raise_for_status()    # Check that the request was successful
with open(target_csv_path, "wb") as f:
    f.write(response.content)

In [3]:
df = pd.read_csv('00 - datasets/nba_all_elo.csv')

In [6]:
df.head()

   gameorder       game_id lg_id  _iscopy  year_id  date_game  seasongame
0          1  194611010TRH   NBA        0     1947  11/1/1946           1
1          1  194611010TRH   NBA        1     1947  11/1/1946           1
2          2  194611020CHS   NBA        0     1947  11/2/1946           1
3          2  194611020CHS   NBA        1     1947  11/2/1946           2
4          3  194611020DTF   NBA        0     1947  11/2/1946           1