# Funciones avanzadas

Estas funciones permite un uso eficiente del dataset y la introducción de operaciones dificiles de implementar por otros medios. Fucionan correctamente con datasets grandes.

https://stackoverflow.com/questions/53779986/dynamic-expression-evaluation-in-pandas-using-pd-eval

In [23]:
import numpy as np
import pandas as pd 
import seaborn as sns 
import sidetable
sns.set()

In [2]:
diamonds= sns.load_dataset('diamonds')

In [3]:
diamonds.shape

(53940, 10)

In [4]:
diamonds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  float64
 1   cut      53940 non-null  category
 2   color    53940 non-null  category
 3   clarity  53940 non-null  category
 4   depth    53940 non-null  float64
 5   table    53940 non-null  float64
 6   price    53940 non-null  int64
 7   x        53940 non-null  float64
 8   y        53940 non-null  float64
 9   z        53940 non-null  float64
dtypes: category(3), float64(6), int64(1)
memory usage: 3.0 MB

In [25]:
pd.eval('Total = log(diamonds.x * diamonds.y * diamonds.z)', target=diamonds)

,carat,cut,color,clarity,depth,table,price,x,y,z,Total
0,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,3.642889
1,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,3.541129
2,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,3.639607
3,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,3.844270
4,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,3.949651
...,...,...,...,...,...,...,...,...,...,...,...
53935,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50,4.752900
53936,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61,4.771618
53937,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56,4.740136
53938,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74,4.947100
53939,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64,4.824855

In [26]:
diamonds.eval("Total = x + y + z")

,carat,cut,color,clarity,depth,table,price,x,y,z,Total
0,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,10.36
1,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,10.04
2,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,10.43
3,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,11.06
4,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,11.44
...,...,...,...,...,...,...,...,...,...,...,...
53935,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50,15.01
53936,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61,15.05
53937,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56,14.90
53938,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74,16.01
53939,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64,15.34

In [36]:
diamonds.eval("""
                    Total = x + y + z
                    Patata = depth + depth
    """)

,carat,cut,color,clarity,depth,table,price,x,y,z,Total,Patata
0,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,10.36,123.0
1,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,10.04,119.6
2,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,10.43,113.8
3,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,11.06,124.8
4,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,11.44,126.6
...,...,...,...,...,...,...,...,...,...,...,...,...
53935,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50,15.01,121.6
53936,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61,15.05,126.2
53937,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56,14.90,125.6
53938,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74,16.01,122.0
53939,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64,15.34,124.4

In [34]:
diamonds.query("color == 'E' & clarity == 'SI2' & cut == 'Good'")

       carat   cut color clarity  depth  table  price     x     y     z
544     0.80  Good     E     SI2   63.7   54.0   2829  5.91  5.87  3.75
1467    0.90  Good     E     SI2   58.7   63.0   2982  6.20  6.23  3.65
1788    0.82  Good     E     SI2   61.8   56.0   3050  5.95  5.99  3.69
1937    0.90  Good     E     SI2   64.1   57.0   3084  6.09  6.07  3.90
2195    0.90  Good     E     SI2   64.1   57.0   3139  6.07  6.09  3.90
...      ...   ...   ...     ...    ...    ...    ...   ...   ...   ...
52598   0.80  Good     E     SI2   61.4   59.0   2542  5.94  6.01  3.67
53226   0.80  Good     E     SI2   57.7   65.0   2640  6.13  6.08  3.52
53474   0.76  Good     E     SI2   58.8   59.0   2680  5.95  5.99  3.51
53608   0.75  Good     E     SI2   62.3   58.0   2702  5.78  5.81  3.61
53785   0.89  Good     E     SI2   64.3   65.0   2728  6.00  5.95  3.84

[202 rows x 10 columns]

In [41]:
diamonds = (sns.load_dataset('diamonds')
           .query("color == 'E' & clarity == 'SI2' & cut == 'Good'")
           .eval("""
                       Total = x + y + z
                       Patata = table * price"""
                )
           )
diamonds

,carat,cut,color,clarity,depth,table,price,x,y,z,Total,Patata
544,0.80,Good,E,SI2,63.7,54.0,2829,5.91,5.87,3.75,15.53,152766.0
1467,0.90,Good,E,SI2,58.7,63.0,2982,6.20,6.23,3.65,16.08,187866.0
1788,0.82,Good,E,SI2,61.8,56.0,3050,5.95,5.99,3.69,15.63,170800.0
1937,0.90,Good,E,SI2,64.1,57.0,3084,6.09,6.07,3.90,16.06,175788.0
2195,0.90,Good,E,SI2,64.1,57.0,3139,6.07,6.09,3.90,16.06,178923.0
...,...,...,...,...,...,...,...,...,...,...,...,...
52598,0.80,Good,E,SI2,61.4,59.0,2542,5.94,6.01,3.67,15.62,149978.0
53226,0.80,Good,E,SI2,57.7,65.0,2640,6.13,6.08,3.52,15.73,171600.0
53474,0.76,Good,E,SI2,58.8,59.0,2680,5.95,5.99,3.51,15.45,158120.0
53608,0.75,Good,E,SI2,62.3,58.0,2702,5.78,5.81,3.61,15.20,156716.0
53785,0.89,Good,E,SI2,64.3,65.0,2728,6.00,5.95,3.84,15.79,177320.0