In [2]:
import pandas as pd

In [32]:
df=pd.read_clipboard()

In [33]:
type(df)

pandas.core.frame.DataFrame

In [22]:
titulolimpios = [x.strip() for x in df.columns.tolist()]

In [34]:
df=df.rename(columns=lambda x:x.strip())

In [35]:
df.columns

Index(['A', 'B', 'C'], dtype='object')

In [48]:
df.replace([','],'.', inplace=True)

In [49]:
df

          A        B        C
0   0,4696   0,0113   0,9192
1   0,2957   0,8412   0,8699
2   0,4402   0,5332   0,4352
3   0,0895   0,9757   0,8908
4   0,6022   0,2653   0,1462
5   0,7887   0,6750   0,6427
6   0,1761   0,3594   0,5218
7   0,2602   0,2702   0,4841
8   0,3931   0,5121   0,6414
9   0,4816   0,2298   0,5067
10  0,4843   0,3012   0,1135
11  0,3912   0,9484   0,2983
12  0,6269   0,1786   0,8451